.Container {
    display: flex;
    flex-direction: column;
    height: 17vw;
    min-width: 15vw;
    border: #faea68 .2vw solid;
    margin: 1vw;
}

.ImageWrapper {
    width: 7vw;
    height: 5vw;
    margin: .5vw 3vw;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Info {
    margin: .6vw;
}