.Errors {
    color: red;
    height: .5vw;
    font-size: .8vw;
    padding-left: 8.5vw;
    margin-top: -.05vw;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    height: 3vw;
}