.CardWrapper {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 30vw;
    margin: 1vw;
    border-radius: 0.2vw;
    box-shadow: -1px -1px 21px -6px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.CardWrapper:hover {
    transform: scale(1.05);
}

.MovieMainInfo {
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 1vw;
}

.Image {
    width: 15vw;
    height: auto;
}

.NoImage {
    width: 15vw;
    height: auto;
    opacity: 0;
}

.Title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
}

.Rating {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
}

.Release {
    font-size: 12px;
}

@media only screen and (max-width: 1180px) {
    .CardWrapper {
        width: 25vw;
        height: 50vw;
        margin-bottom: 5vw;
    }

    .Image {
        width: 25vw;
    }

    .NoImage {
        width: 30vw;
    }

    .Title {
        font-size: 20px;
    }

    .Release {
        font-size: 16px;
    }

}

@media only screen and (max-width: 768px) {
    .CardWrapper {
        width: 30vw;
        height: 60vw;
        margin-bottom: 15vw;
    }

    .Image {
        width: 30vw;
    }

    .NoImage {
        width: 30vw;
    }

    .Title {
        font-size: 20px;
    }

    .Release {
        font-size: 16px;
    }
}

@media only screen and (max-width: 414px) {
    .CardWrapper {
        width: 70vw;
        height: 75vh;
        margin-bottom: 10vw;
    }

    .Image {
        width: 70vw;
    }

    .NoImage {
        width: 70vw;
    }

    .Title {
        font-size: 24px;
    }

    .Release {
        font-size: 18px;
    }
}