.Wrapper {
    display: flex;
    flex-direction: column;
    height: 3vw;
}

.SelectContainer {
    display: flex;
    width: 28vw;
    height: 3vw;
}

.Select {
    width: 15vw;
    margin-left: 1vw;
    height: 1.5vw;
}

.Label {
    min-width: 5vw;
}

.Errors {
    color: red;
    height: .5vw;
    font-size: .8vw;
    padding-left: 8.5vw;
    margin-top: -.05vw;
}
