.ContentWrapper {
    display: flex;
    height: 43.5vw;
    width: 100vw;
}

.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-left: #faea68 .3vw solid;
}