.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    border-bottom: .3vw solid #faea68;
}

.NavLink {
    font-size: 2vw;
    padding: 1vw 1.5vw;
    margin: 2vw;
    text-decoration: none;
    border-radius: 1.5vw;
    font-family: sans-serif;
    color: black;
}

.activeNavLink {
    background: #faea68;
}

.NavLink:hover {
    background: #faea68;
}

.activeNavLink:hover {
    background: #faea68;

}